div(class="atom-input-select")
  input(type="checkbox" id="checkbox")
  br
  br
  label
    | Select
  input(type="text")
  ul
    li()
      | One
    li()
      | Two
    li()
      | Three
    li()
      | One
    li()
      | Two
    li()
      | Three
    li()
      | One
    li()
      | Two
    li()
      | Three
    li()
      | One
    li()
      | Two
    li()
      | Three
//- ng-model="{{cidade}}" ng-model-option="{{cidades}}"
//- Interação por seta, com clique e filtro utilizando ng-filter