atom-input-color = #555
atom-input-size = 0.5em
atom-input-border = 0.1em solid #CCC
atom-input-border-radius = 5px
atom-input-background = #FFFFFF
atom-input-padding = 0.5em
atom-label-padding = 0 0 0.2em 0
atom-label-size = 1em

.atom-input
  background atom-input-background
  border atom-input-border
  padding atom-input-padding
  color atom-input-color
  font-size atom-label-size
  border-radius atom-input-border-radius

.atom-input-label
  display block
  font-size atom-label-size
  padding atom-label-padding
  color atom-input-color