doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="./main.css")
  body
    h1 Atoms
    h2 Titles
      h1 h1 - Titles
      h2 h2 - Titles
      h3 h3 - Titles
    br
    br
    br
    h2
        | Inputs
    br  
    include ../atoms/inputs/text/text
    br
    br
    br  
    include ../atoms/inputs/password/password
    br
    br
    br  
    include ../atoms/inputs/number/number
    br
    br
    br  
    include ../atoms/inputs/select/select
    br
    br
    br
    h2
        | Buttons
    br
    br  
    br
    include ../atoms/buttons/save/save
    br
    br  
    br
    include ../atoms/buttons/edit/edit
    br
    br  
    br
    include ../atoms/buttons/facebook/facebook