@import './reset'
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

*
  font-family 'Open Sans', sans-serif
  box-sizing border-box

*:focus
  outline 0

body
  margin 2em

h1
  font-size 3em

h2
  font-size 2em

h3
  font-size 1.5em

/* Import atoms */
@import '../atoms/inputs/text/text'
@import '../atoms/inputs/password/password'
@import '../atoms/inputs/number/number'
@import '../atoms/inputs/select/select'
@import '../atoms/buttons/save/save'
@import '../atoms/buttons/edit/edit'
@import '../atoms/buttons/facebook/facebook'